# This workflow packages and releases a new version
name: Release
on:
  push:
    tags: [ '[0-9].[0-9]+.[0-9]+' ]

env:
  CARGO_TERM_COLOR: always

jobs:
  release-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Check release version
        run: |
          CARGO_VERSION=`cargo pkgid | cut -d "#" -f2`
          [ "$CARGO_VERSION" = "$GITHUB_REF_NAME" ]
      - name: Build
        run: |
          rustup --version
          cargo clean
          cargo build --release --verbose
      - name: Run
        run: cargo run --release -- --version
      - name: Test
        run: cargo test --release --verbose -- --skip setup::tests::all_good
      - name: Rename release executable
        run: mv target/release/survey-tool-cli "target/release/survey-tool-cli-$GITHUB_REF_NAME-linux"
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Survey Tool Cli Linux
          path: "target/release/survey-tool-cli-${{ github.ref_name }}-linux"
      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create $GITHUB_REF_NAME --verify-tag --generate-notes -t $GITHUB_REF_NAME "target/release/survey-tool-cli-$GITHUB_REF_NAME-linux"

  release-windows:
    runs-on: windows-latest
    needs: [ 'release-linux' ]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build
        run: |
          rustup --version
          cargo clean
          cargo build --release --verbose
      - name: Run
        run: cargo run --release -- --version
      - name: Test
        run: cargo test --release --verbose -- --skip setup::tests::all_good
      - name: Rename release executable
        run: mv target/release/survey-tool-cli.exe "target/release/survey-tool-cli-$env:GITHUB_REF_NAME-windows.exe"
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Survey Tool Cli Windows
          path: "target/release/survey-tool-cli-${{ github.ref_name }}-windows.exe"
      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload $env:GITHUB_REF_NAME "target/release/survey-tool-cli-$env:GITHUB_REF_NAME-windows.exe"
